@use '~/assets/css/utilities/variables' as *;

.card {
  margin-bottom: 1.5rem;
  line-height: $base-line-height;

  @media (min-width: $breakpoint-xsmall) {
    margin-bottom: 2rem;
  }
}

.card__img {
  position: relative;
  height: 0;
  padding-top: 150.27%;
  overflow: hidden;
  background-color: $secondary-color;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;

  .card__image {
    position: relative;
    height: 0;
    padding-top: 150.27%;
    overflow: hidden;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 19px 10px 0 rgba(31, 104, 135, 0.37);
    backdrop-filter: blur(16px);
  }

  img,
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;

    @media (min-width: $breakpoint-large) {
      font-size: 1.6rem;
    }
  }

  &.lazyloaded img {
    transform: scale(1);
  }
}

.card__name {
  margin-top: 1rem;
  overflow: hidden;
  font-family: var(--font-display);
  font-size: 1.3rem;
  text-overflow: ellipsis;
  letter-spacing: $letter-spacing;
  white-space: nowrap;

  @media (min-width: $breakpoint-large) {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}

.card__label {
  margin-top: 1rem;
  overflow: hidden;
  font-family: var(--font-display);
  font-size: 1.3rem;
  text-overflow: ellipsis;
  letter-spacing: $letter-spacing;
  white-space: nowrap;

  @media (min-width: $breakpoint-large) {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}

.card__rating {
  display: flex;
  align-items: center;
}

.card__vote {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: $text-color-grey;

  @media (min-width: $breakpoint-large) {
    font-size: 1.4rem;
  }
}

.card__stars {
  width: 6.4rem;
  height: 1.2rem;
  background-color: rgba(139, 233, 253, 0.18);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'/%3E%3C/svg%3E");
  -webkit-mask-size: 20% 100%;
  -webkit-mask-repeat: repeat-x;
  -webkit-mask-position: 0 0;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'/%3E%3C/svg%3E");
  mask-size: 20% 100%;
  mask-repeat: repeat-x;
  mask-position: 0 0;

  >div {
    height: 100%;
    background-color: #8BE9FD;
  }
}